main{
  position: absolute;
  left: 500px;
  top: 150px;
}

.main {
    position: relative;
    border: 2px dotted #000000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.circle {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    height: 50px;
    width: 50px;
}

